<div class="formsec" id="blogsignup">

  <img alt="" src="/{{ themePath('lavu') }}/images/latestNewsIcon.png" />

  <h3>Get the latest news,</h3>
  <p>tips, and tricks to manage your restaurant.</p>

  <div id="hubspotblogform">
    <!--[if lte IE 8]>
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
    <![endif]-->
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
    <script>
      hbspt.forms.create({
        portalId: '4107695',
        formId: '1f2bad73-8568-469a-aa22-58587918e628',
        css: '',
        target: '#hubspotblogform'
      });
    </script>
  </div>


</div>
