<div class="trialheader">
  <div class="innerpad"><h1>Free Trial</h1>Spend less time managing and more time growing.</div>
</div>
<section class="trialbody">
  <div class="innerpad">
    <h2>Start your 14-day free trial.</h2>

    <h3>No Credit Card Needed.</h3>

    <div class="trialwarp">


      <div class="trialright">

        <h3>Fill out the form to receive Login Credentials</h3>

          {{ form }}

        <span class="smtxtcap">
                    By clicking on the button above, you agree to our
                    <a href="/themes/custom/lavu/terms-of-service.pdf" target="_blank">Terms of Service</a>.
                </span>
      </div>


      <div class="trialleft">
        <h4>Break Through with Lavu</h4>

        <ul>
          <li class="ico1">Take orders with the press of a button</li>
          <li class="ico2">Send tickets to the kitchen</li>
          <li class="ico3">Accept payments tableside or at a terminal</li>
          <li class="ico4">Email receipts, split checks, & simplify all front-of-house processes</li>
          <li class="ico5">Access Lavu's full suite of business reports</li>
        </ul>
        <span class="bigtxt">Simplify. Prepare. Manage. Improve.</span>

      </div>


    </div><!--  .trialwrap  -->
  </div><!--  .innerpad  -->
</section><!--  .trialbody  -->
